<!DOCTYPE html>
<html>
  <head>
    <title>=CodeEquality=</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
    <div id="main">
      <div id="leftBar" class="col-md-2">
          <div id="logo"><a href="/">=CodeEquality=</a></div>
          <br>
          <a href="/about">About</a><br>
          <a href="/index">Index</a><br>
          <a href="http://anitaborg.org/">Anita Borg Institute</a><br>
          <a href="http://en.wikipedia.org">Wikipedia</a><br>
      </div>
      <div id="content" class="col-md-9">
        <div class="row"><br><br></div>
        <div class="row">
          <p id="index-title">ABOUT THIS PROJECT</p>
        </div>
      </div>
    </div>
  </body>
</html>
