<!DOCTYPE html>
<html>
  <head>
    <title>=CodeEquality=</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="new_main.css">
    <script src="js/overscroll.js"></script>    
  </head>

  <body>
    <div id="main">
      <div id="header"><a href="/">=CodeEquality=</a></div>
      <div id="leftBar" class="col-md-2">
          <a href="/about">About</a><br>
          <a href="/index">Index</a><br>
          <a href="http://en.wikipedia.org">Wikipedia</a><br>
      </div>
      <div id="content" class="col-md-7">
        <div class="row">
          <p id="index-title">ABOUT THIS PROJECT</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <img class="easter-egg top" src="/img/upside-down.png">
    <script>
    var overscroll = new Overscroll();
    window.onload = function() {
        overscroll.bindElement(document.querySelector('.easter-egg.top'), 'top', 5);        
    }
 
    </script>    
  </body>
</html>
