<!DOCTYPE html>
<html>
  <head>
    <title>GraceHopperTime</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  	<div id="main">
	  	<div class="row"><div id="header" class="col-md-10">=CodeEquality=</div></div>
	  	<div class="row">
		  </div>  
		  <div id="content" class="col-md-10">
		  <p class="title">Programmer</p><h2>WIKI page needed</h2>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  	<blockquote class="twitter-tweet" lang="en"><p>&quot;You manage things; you lead people.&quot; —Rear Admiral Grace Murray Hopper&#10;<a href="https://twitter.com/hashtag/leadership?src=hash">#leadership</a>&#10; <a href="http://t.co/H8xxyOgBCj">http://t.co/H8xxyOgBCj</a></p>&mdash; Jexsy (@Jexsy) <a href="https://twitter.com/Jexsy/status/570589577632722944">February 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		  	<blockquote class="twitter-tweet" lang="en"><p>&quot;You manage things; you lead people.&quot; —Rear Admiral Grace Murray Hopper&#10;<a href="https://twitter.com/hashtag/leadership?src=hash">#leadership</a>&#10; <a href="http://t.co/H8xxyOgBCj">http://t.co/H8xxyOgBCj</a></p>&mdash; Jexsy (@Jexsy) <a href="https://twitter.com/Jexsy/status/570589577632722944">February 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		  	<blockquote class="twitter-tweet" lang="en"><p>&quot;You manage things; you lead people.&quot; —Rear Admiral Grace Murray Hopper&#10;<a href="https://twitter.com/hashtag/leadership?src=hash">#leadership</a>&#10; <a href="http://t.co/H8xxyOgBCj">http://t.co/H8xxyOgBCj</a></p>&mdash; Jexsy (@Jexsy) <a href="https://twitter.com/Jexsy/status/570589577632722944">February 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		  	<blockquote class="twitter-tweet" lang="en"><p>&quot;You manage things; you lead people.&quot; —Rear Admiral Grace Murray Hopper&#10;<a href="https://twitter.com/hashtag/leadership?src=hash">#leadership</a>&#10; <a href="http://t.co/H8xxyOgBCj">http://t.co/H8xxyOgBCj</a></p>&mdash; Jexsy (@Jexsy) <a href="https://twitter.com/Jexsy/status/570589577632722944">February 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		  	<blockquote class="twitter-tweet" lang="en"><p>&quot;You manage things; you lead people.&quot; —Rear Admiral Grace Murray Hopper&#10;<a href="https://twitter.com/hashtag/leadership?src=hash">#leadership</a>&#10; <a href="http://t.co/H8xxyOgBCj">http://t.co/H8xxyOgBCj</a></p>&mdash; Jexsy (@Jexsy) <a href="https://twitter.com/Jexsy/status/570589577632722944">February 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				

		  </div>
	  	</div>
  	</div>
  </body>
</html>