
#main {
	padding: 0em 2em 2em 2em;
	height: 100%;
}
p {
	font-size: 1.5em;
}
#header {
	display: block;
	height: 2.5em;
	font-size: 3em;
	padding: 1em 0 0 0.7em;
}

#leftBar {
	padding: 1em;
	background-color: #f6f6f6;
	height: 150em; 
}

#rightBar {
	padding: 1em;
	background-color: #f6f6f6;
	height: 150em;	
}

#content {
	padding: 1em;
	height: 150em;
}

li {
	margin-top: 0.2em;
	font-size: 1.2em;
}
.title