<!DOCTYPE html>
<html>
  <head>
    <title>=CodeEquality=</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="new_main.css">
  </head>

  <body>
    <div id="main">
      <div id="header"><a href="/">=CodeEquality=</a></div>
      <div id="leftBar" class="col-md-2">
          <a href="/about">About</a><br>
          <a href="/index">Index</a><br>
          <a href="http://anitaborg.org/">Anita Borg Institute</a><br>
          <a href="http://en.wikipedia.org">Wikipedia</a><br>
      </div>
      <div id="content" class="col-md-7">
        <div class="row">
          <p id="index-title">PERSON NOT FOUND</p>
          <p>That person is not in our database. :(<br> Check our index or add them <a href="/add_person">here.</a></p>
        </div>

      </div>
    </div>
  </body>
</html>
