
#main {
	padding: 0em 2em 2em 2em;
	height: 100%;
	font-size: 1em;
}
p {

}
#header {
	display: block;
	height: 2.5em;
	font-size: 3em;
	padding: 1em 0 0 0.7em;
}

#leftBar {
	padding: 1em;
	background-color: #f6f6f6; 
}

#rightBar {
	padding: 1em;
	background-color: #f6f6f6;
	height: 150em;	
}

#content {
	padding: 1em;
	height: 150em;
}

.title