body {
	background-color: white;
	font-family: Helvetica, sans-serif;
}

a:hover {
	border-bottom: solid 4px #39FF14;
	text-decoration: none;
	color: #428bca;
}

#main {
	padding: 0em 2em 2em 2em;
	height: 100%;
	font-size: 1em;
}
p ~ a {
	font-size: 1.5em;
}

#header {
	margin: 0 0 1em 0;
	display: block;
	height: 2.5em;
	padding: 1em 0 1em 5em;
	font-size: 3em;
	background-color: white;
}

#main #header a:hover {
	border: none;
	text-decoration: none;
}

#leftBar {
	padding: 2.5em 1em 1em 1.5em;
	height: 260em;
	line-height: 2em;
	border-right: 5px solid #39FF14;
	position: fixed;
	width: 10em;
}

#rightBar {
	padding: 1em;
	background-color: #f6f6f6;
	height: 150em;	
}

#content {
	padding: 0 2em 2em 2em;
	height: 150em;
	background-color: white;
	margin-left: 5em;
}

.title, #directive a {
	font-size: 3.5em;
}

#index-title {
	font-size: 2em;
}

#index {
	line-height: 2em;
	font-size: 1.5em;
  column-count: 4;
  -moz-column-count: 4;
  -webkit-column-count: 4;

  column-gap: 20px;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
}

#logo {
	text-transform: none;
	font-size: 2em;
	font-weight: bold;
}

#logo a{
	color: #000000;
}

#logo a:hover {
	border: none;
}

#stat, #bio, #twitter-intro {
	font-size: 1.5em;
}

#twitter-material {
	width: 60%;
	position: relative;
}











