body {
	background-color: white;
}

#main {
	padding: 0em 2em 2em 2em;
	height: 100%;
	font-size: 1em;
}
p ~ a {
	font-size: 1.5em;
}
#header {
	margin: 0 0 1em 0;
	display: block;
	height: 2.5em;
	padding: 1em 0 1em 5em;
	font-size: 3em;
	background-color: white;
}

#leftBar {
	padding: 2.5em 1em 1em 1.5em;
	background-color: #f6f6f6; 
	height: 150em;
}

#rightBar {
	padding: 1em;
	background-color: #f6f6f6;
	height: 150em;	
}

#content {
	padding: 0 2em 2em 2em;
	height: 150em;
	background-color: white;
}
.title {
	font-size: 2em;
	font-style: bold;
}

#directive a {
	font-size: 1.5em;

}



















